.group-3 {
    /* border: solid; */
    background: url('../assets/Chicken\ Image.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 351px;
    text-align: center;
    padding-top: 78px;
    margin-top: -52px;
}

.group-3 p {
    color: white;
}

.title-1, .title-2 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

.title-1 {
    font-size: 2.1rem;
}
.title-2 {
    font-size: 3.9rem;
}

.description {
    font-size: 1.3rem;
    width: 58%;
    margin: 50px auto;
    
}