.group-4 {
    display: grid;
    grid-template-columns: 43% 24% 6%;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 91px;
}

.obj-side {
    align-self: flex-start;
}

.text-side {
    font-size: 1.1rem;
}

.text-side h1 {
    font-size: 3.4rem;
    font-family: 'Amatic SC', cursive;
    color: #452a31;
}
.text-side p {
    margin-top: 31px;
}
.btn {
    background-color: #2ea2d0;
    width:165px;
    height: 54px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid #2ea2d0;
    text-transform: uppercase;
}
.learn-btn {
    margin-top: 43px;
}