* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
    /* vertical-align: baseline; */
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

html {
    height: 100%;
}
  body {
    height: 100%;
    /* border: solid; */
    width: 100%;
}

:focus:not(:focus-visible) {
    outline: none;
}

a,
a:visited {
    color: inherit;
}

ul,ol{
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}